<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Add Shows</title>
  </head>
  <body>
    <h2>Recommend a New show</h2>
    <a href="/shows">TV Shows</a>
    <a href="/logout">Logout</a>

    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <form action="/create" method="POST">
      {% csrf_token %}
      <p>
        <label>Title</label>
        <input type="text" name="title" />
      </p>
      <div class="form-row">
        <p class="form-group-flex">
          <label>Network</label>
          <input type="text" name="network" />
        </p>
        <p class="form-group-flex">
          <label>Release Date</label>
          <input type="date" name="release_date" />
        </p>
      </div>
      <p>
        <label>comments</label>
        <textarea name="comments"></textarea>
      </p>
      <button type="submit">Create</button>
    </form>
  </body>
</html>
